@media screen and (max-width: 1200px) {
  .header__description {
    padding: 130px 20px 0 30px;
  }
  .footer__designer {
    padding-left: 25px;
  }
  .footer__contact {
    padding-right: 20px;
    padding-left: 30px;
  }
  .hamburger {
    left: 30px;
  }
  .hamburger__toggler {
    left: 23px;
  }
  .header__img img {
    width: 130%;
  }
  .header__big-title {
    margin-bottom: 30px;
  }
  .features__starting {
    padding-left: 25px;
    padding-right: 15px;
  }
  .features__dummy {
    padding-left: 25px;
    padding-right: 15px;
  }
  .features__left {
    padding-left: 25px;
    padding-right: 25px;
  }
  .features__left-item {
    margin: 55px 0;
  }
  .block__title {
    font-size: 40px;
    line-height: 50px;
    margin: 15px 0;
  }
}

@media screen and (max-width: 992px) {
  .header {
    grid-template-columns: 1.5fr 1fr;
  }
  .header__img {
    height: 550px;
  }
  .header__description {
    padding-top: 115px;
  }
  .header__big-title {
    font-size: 32px;
    line-height: 44px;
  }
  .header__text {
    font-size: 16px;
    line-height: 25px;
  }
  .block__title {
    font-size: 33px;
    line-height: 40px;
  }
  .block__subtitle {
    font-size: 15px;
    line-height: 25px;
  }
  .hamburger {
    top: 40px;
  }
  .hamburger__toggler {
    top: 32px;
  }
  .features__left {
    padding: 15px 25px;
  }
  .features__left-item {
    margin: 25px 0;
  }
  .features__starting,
  .features__dummy {
    padding-top: 26px;
  }
  .footer {
    grid-template-columns: 1.2fr 2fr;
  }
  .footer__designer,
  .footer__contact {
    padding-top: 20px;
    padding-bottom: 25px;
  }
  .footer__designer-wrapper img {
    margin-top: 208px;
  }
  .footer__designer-name {
    font-size: 38px;
    line-height: 50px;
  }
  .footer__form {
    margin-top: 30px;
  }
  .footer__form input {
    font-size: 15px;
    height: 50px;
    padding-left: 15px;
  }
  .footer__form-textarea {
    height: 150px;
    padding-left: 15px;
  }
  .footer__form-btn {
    margin-bottom: 55px;
  }
  .footer__social p:last-child {
    margin-top: 37px;
  }
}

@media screen and (max-width: 768px) {
  .hide {
    display: none;
  }
  .header__img {
    height: 400px;
  }
  .header__description {
    padding-top: 70px;
  }
  .header__big-title {
    font-size: 25px;
    line-height: 36px;
  }
  .header__text {
    font-size: 15px;
    line-height: 22px;
  }
  .hamburger {
    width: 24px;
    top: 30px;
  }
  .hamburger__toggler {
    width: 30px;
    height: 30px;
    top: 23px;
  }
  .hamburger__menu-link {
    font-size: 20px;
  }
  .hamburger__item,
  .hamburger__item::before,
  .hamburger__item::after {
    height: 2px;
  }
  .hamburger__item::before {
    top: 8px;
  }
  .hamburger__item::after {
    bottom: -16px;
  }
  .hamburger__toggler:hover + .hamburger > .hamburger__item {
    top: -4px;
  }
  .hamburger__toggler:hover + .hamburger > .hamburger__item::before {
    top: 12px;
  }
  .hamburger__toggler:hover + .hamburger > .hamburger__item::after {
    bottom: -24px;
  }
  .hamburger__toggler:checked + .hamburger > .hamburger__item::before {
    opacity: 0;
  }
  .hamburger__toggler:checked + .hamburger > .hamburger__item {
    top: 9px;
  }
  .hamburger__toggler:checked + .hamburger > .hamburger__item::after {
    transform: rotate(-90deg);
    bottom: 0;
  }
  .block__title {
    font-size: 24px;
    line-height: 32px;
  }
  .features {
    grid-template-columns: 1fr 1fr;
  }
  .features__left {
    padding: 15px 15px;
  }
  .features__btn {
    margin-top: 10px;
    font-size: 16px;
  }
  .starting__btn {
    padding: 4px 20px;
  }
  .dummy__btn {
    padding: 4px 23px;
  }
  .features__starting,
  .features__dummy {
    padding-left: 20px;
  }
  .footer {
    grid-template-columns: 1.4fr 2fr;
  }
  .footer__form input {
    font-size: 14px;
    height: 45px;
  }
  .footer__form input::placeholder {
    font-size: 14px;
  }
  .footer__form-textarea {
    font-size: 14px;
  }
  .footer__form-textarea::placeholder {
    font-size: 14px;
    height: 120px;
  }
  .footer__form-btn {
    font-size: 14px;
    padding: 5px 20px;
    margin-bottom: 30px;
  }
  .footer__social p {
    font-size: 14px;
  }
  .footer__social-links a {
    width: 38px;
    height: 38px;
  }
  .footer__social p:last-child {
    margin-top: 25px;
  }
  .footer__designer-name {
    font-size: 32px;
    line-height: 43px;
  }
  .footer__designer-job {
    font-size: 15px;
  }
}

@media screen and (max-width: 576px) {
  .header {
    grid-template-columns: 1fr;
  }
  .header__description-wrapper {
    max-width: 100%;
  }
  .features {
    grid-template-columns: 1fr;
  }
  .footer {
    grid-template-columns: 1fr;
  }
  .header__img {
    height: 300px;
    grid-row: 2;
  }
  .header__img img {
    width: 100%;
  }
  .footer__designer {
    grid-row: 2;
  }
  .features__starting,
  .features__dummy {
    padding: 10px 30px 25px;
  }
  .footer__designer,
  .footer__contact {
    padding: 10px 30px;
  }
  .features__left-item {
    min-width: 100%;
    margin: 5px 0;
  }
  .features__left {
    padding: 10px 30px 5px;
  }
  .header__text {
    margin-bottom: 15px;
  }
  .hamburger__menu-wrapper {
    left: 0;
    top: -100%;
  }
  .hamburger__menu-list {
    flex-direction: unset;
  }
  .hamburger__toggler:checked ~ .hamburger__menu-wrapper {
    top: 0;
  }
  .hamburger__toggler:checked ~ .hamburger__menu-wrapper .hamburger__menu-item {
    transform: translateY(0);
  }
  .hamburger__menu-item {
    transform: translateY(-100%);
    height: 100%;
    width: 20%;
  }
  .hamburger__menu-item:first-child {
    transition-delay: 0.6s;
  }
  .hamburger__menu-item:nth-child(2) {
    transition-delay: 0.5s;
  }
  .hamburger__menu-item:nth-child(3) {
    transition-delay: 0.4s;
  }
  .hamburger__menu-item:nth-child(4) {
    transition-delay: 0.3s;
  }
  .hamburger__menu-item:nth-child(5) {
    transition-delay: 0.2s;
  }
  .hamburger__menu-link {
    transform: rotate(-60deg);
  }
  .footer__designer-wrapper img {
    margin-top: 100px;
  }
}
